src/flows.json
[{"id":"f63881b.a27f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae6fb50b.381ac8","type":"mqtt in","z":"f63881b.a27f38","name":"","topic":"ie/status","qos":"0","datatype":"auto","broker":"f13c31fe.8e24","x":80,"y":200,"wires":[["8e23a0e6.c431","919ef531.076208"]]},{"id":"8e23a0e6.c431","type":"debug","z":"f63881b.a27f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":200,"wires":[]},{"id":"919ef531.076208","type":"function","z":"f63881b.a27f38","name":"","func":"return {payload: JSON.parse(msg.payload)}; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":260,"wires":[["e03e62c5.9e316","984cdc24.281b6"]]},{"id":"e03e62c5.9e316","type":"function","z":"f63881b.a27f38","name":"","func":"\nvar shock = {}; \n\nif(msg.payload.phi>170){\n    shock.payload={\n      \"seq\": 1,\n      \"vals\": {\n          \"id\": \"HMiHandleDB_resetShock\",\n           \"val\": \"1\"\n        }\n    }\n    \n} else {\n    shock.payload={\n      \"seq\": 2,\n      \"vals\": {\n          \"id\": \"HMiHandleDB_resetShock\",\n           \"val\": \"0\"\n        }\n    }\n}\nreturn shock","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["3d05ae1d.647e62","77031702.004ec8"]]},{"id":"e21903f2.7c49e","type":"mqtt out","z":"f63881b.a27f38","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/w/plcshock","qos":"0","retain":"","broker":"f13c31fe.8e24","x":860,"y":420,"wires":[]},{"id":"984cdc24.281b6","type":"debug","z":"f63881b.a27f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.phi","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":240,"wires":[]},{"id":"77031702.004ec8","type":"debug","z":"f63881b.a27f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"3d05ae1d.647e62","type":"rbe","z":"f63881b.a27f38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":360,"wires":[["e21903f2.7c49e"]]},{"id":"f13c31fe.8e24","type":"mqtt-broker","z":"","name":"","broker":"ie_databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]